* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html {
    font-family: sans-serif;
}

a {
    text-decoration: none;
}

input,
button {
    outline: none;
    border: none;
    background-color: transparent;
}